@font-face {
    src: url('../fonts/inter-Regular.ttf');
    font-family: "Inter";
}

.body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.navigation {
    max-width: 1440px;
    height: 101px;
    background-color: #D9D9D9;
}

.container {
    display: flex;
    margin-top: 40px;
    max-width: 1440px;
    height: 1302px;
}

.content-left_main {
    width: 203px;
    height: 1302px;
    background-color: #D9D9D9;
}

.content-right_main {
    width: 1022px;
    height: 1302px;
    margin-left: 86px;
}

.content-right_main-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 1022px;
    height: 542px;
}

.content-right_main-top-items {
    width: 487px;
    height: 61px;
    background-color: #D9D9D9;
}

.content-right_main-top-bigitem {
    width: 1022px;
    height: 168px;
    background-color: #D9D9D9;
}

.content-right_main-bottom {
    width: 1022px;
    height: 720px;
    margin-top: 40px;
    border: 1px dashed black;
}

.content-right_main-bottom-hr {
    width: 1022px;
    height: 3px;
    background-color: #D9D9D9;
}

.header-tabs {
    display: flex;
    list-style: none;
    padding: 0px;
    margin-top: 20px;
}

.header-tabs_item-first {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-right: 55px;
    color: black;
    text-decoration-line: underline;
    text-underline-offset: 5px;
}

.header-tabs_item-first-num {
    color: #918d8d;
}

.header-tabs_select {
    max-width: 265px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 6px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: black;
    background-color: white;
    z-index: 1;
}

.header-tabs_select.is-active .header-tabs_select-body {
    display: block;
}

.header-tabs_select-header {
    color: #918d8d;
    cursor: pointer;
}

.header-tabs_select-current {
    text-decoration-line: underline;
}

.header-tabs_arrow-button {
    border: none;
    background-color: white;
    margin-right: 70px;
    width: 0px;
    cursor: pointer;
}

.header-tabs_select-body {
    display: none;
    margin-top: 15px;
    padding: 5px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.438);
    border-radius: 5px;
    color: #918d8d;
}

.header-tabs_button-select {
    padding: 0px;
    border: none;
    background-color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #918d8d;
    cursor: pointer;
}

.header-tabs_select-item {
    text-decoration: none;
    padding-left: 20px;
    cursor: pointer;
}

.header-tabs_favorit-item {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #918d8d;
    z-index: 1;
}

.header-tabs_heart-button {
    border: none;
    background-color: white;
    cursor: pointer;
    z-index: 1;
}

.svg-arrow {
    margin-left: 10px;
    margin-right: 50px;
}

.svg-heart {
    position: relative;
    top: 5px;
    margin-left: 10px;
}

.reverse-arrow {
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.check-mark:before {
    content: '\2713';
    padding-right: 5px;
    margin-left: -19px;
}

.form {
    display: flex;
    position: absolute;
    top: 760px;
    z-index: 0;
}

.user-photo-alex {
    width: 61px;
    height: 61px;
    margin-top: 40px;
    margin-right: 30px;
    border-radius: 50px;
    background-image: url('../images/Max.png');
}

.style-text {
    font-family: 'Inter';
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    color: #122AC0;
}

.position-lable {
    position: absolute;
    left: 90px;
}

.count-comment-body {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #918d8d;   
}

.text-long-message {
    width: 213px;
    height: 20px;
    margin: 40px 0px 0px 30px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #918d8d;
}

.block-add-comments {
    display: block;
    text-align: right;
    font-weight: 500;
    margin-top: 40px;
}

.field-comments-size {
    font-weight: 400;
    color: #000000;
    width: 688px;
    height: 61px;
    margin-top: 15px;
    padding: 20px 20px 20px 30px;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.button {
    width: 213px;
    height: 61px;
    margin-top: 13px;
    margin-left: 30px;
    border: none;
    background: #dbd7d7;
    border-radius: 5px;
    color: #918d8d;
    font-weight: 400;
    cursor: pointer;
}

.size-field {
    resize: none;
    overflow: hidden;
    min-height: 61px;
    max-height: 100px;
    }

.block-result {
    position: absolute;
    top: 940px;
    width: 1020px;
    }

.block-result-comment {
    top: 940px;
    width: 1020px;
    }

.text-date {
    width: 100px;
    height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin: -19px 0px 0px 265px;
    color: #000000;
    opacity: 0.4;
}    

.image-alex-sent {
    width: 61px;
    height: 61px;
    margin: 0px 30px 0px 0px;
    border-radius: 50px;
    background-image: url('../images/Max.png');
}

.alex-send-info {
    width: 916px;
    height: 157px;
    border: 1px solid black;
}
   
.user-sent {
    font-family: 'Inter';
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    margin: -60px 0px 0px 90px;
    z-index: -2;
    color: #122AC0;
}

.text-sent {
    width: 920px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    border: #122AC0;
    word-wrap: break-word;
    margin: 10px 0px 15px 90px;
    color: #000000;
}

.toolbar-sent {
    display: flex;
    margin-left: 90px;
    margin-bottom: 30px;
    width: 600px;
    height: 22px;
}

.toolbar-sent_svg-answer {
    cursor: pointer;
    width: 22px;
    height: 22px;
}

.button-bordernone {
    border: none;
    background-color: white;
    padding: 0px;
}

.toolbar-sent_text {
    font-family: 'Inter';
    font-style: normal;
    margin: 0px 0px 0px 8px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #918d8d;
}

.toolbar-sent_svg-heartempty {
    cursor: pointer;
    width: 22px;
    height: 22px;
    margin: 0px 0px 0px 20px;
}

.btn__rating-plus {
    cursor: pointer;
    width: 22px;
    height: 22px;
    margin: 0px 0px 0px 30px;
}

.toolbar-sent_text-rating {
    font-family: 'Inter';
    font-style: normal;
    margin: 0px 0px 0px 5px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #918d8d;
}

.btn__rating-minus {
    cursor: pointer;
    width: 22px;
    height: 22px;
    margin: 0px 0px 0px 5px;
}

.inFavorite {
    display: flex;
}

.inFavoriteAnswer {
    display: flex;
}

.rating {
    display: flex;
}

.area-answer {
    margin: 0px 0px 10px 90px;
    max-width: 500px;
    max-height: 30px;
}

.field-answer {
    height: 25px;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.submit-answer {
    border: none;
    margin-left: 20px;
    border-radius: 5px;
    background-color: #ABD873;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
}

.image-jun-answer {
    width: 61px;
    height: 61px;
    margin: 0px 30px 0px 90px;
    border-radius: 50px;
    background-image: url('../images/Jun.png');
}

.user-answer {
    font-family: 'Inter';
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    margin: -60px 0px 0px 180px;
    color: #122AC0;
}

.arrow-answer {
    margin: -23px 0px 0px 330px;
}

.post-sender-name {
    font-family: 'Inter';
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    margin: -25px 0px 0px 363px;
    color: #918d8d;
}

.text-date-answer {
    width: 100px;
    height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin: -18px 0px 0px 540px;
    color: #000000;
    opacity: 0.4;
}

.text-send-answer {
    width: 850px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    border: #122AC0;
    word-wrap: break-word;
    margin: 10px 0px 15px 180px;
    color: #000000;
}

.position-like-answer {
    margin: 0px 0px 0px 157px;
}

.rating-answer-area {
    display: flex;
    margin: -27px 0px 30px 320px;
}

.rating-answer {
    display: flex;
}

.btn__rating-plus-answer {
    cursor: pointer;
    width: 22px;
    height: 22px;
    margin: 0px 0px 0px 30px;
}

.btn__rating-minus-answer {
    cursor: pointer;
    width: 22px;
    height: 22px;
    margin: 0px 0px 0px 5px;
}